{% extends "base.html" %}
{% block title %}SIGN UP{% endblock %}

{% block head %}
    {{super()}}
    <script>
        $(document).ready(function(){
            var today = new Date();

            $("#birth_id").datepicker({
                uiLibrary:'bootstrap4',
                header:true,
                footer:true,
                modal:true,
                format:"yyyy-mm-dd",
                maxDate:today
            });


            $("#sign_up_button_id").prop("disabled", true);



            // 중복검사 성공후 다시 다른 아이디 입력하는 것을 방지
            $("#id_id").on("focus", function(){
                $("#sign_up_button_id").prop("disabled", true);
            });


            // 아이디 중복 체크
            $("#overlap_check_id").click(function(){
                var id = $("#id_id").val().trim();

                $.ajax({
                    type:"POST",
                    url:"/overlap_check",
                    data:{'id' : id},
                    success:function(data){
                        if(data == 'success'){
                            alert('사용할 수 있는 아이디 입니다.');
                            $("#sign_up_button_id").prop("disabled", false);
                        }
                        else if(data == 'empty'){
                            alert('사용할 아이디를 입력해주십시오.');
                            $("#sign_up_button_id").prop("disabled", true);
                            $("#id_id").val('');
                            $("#id_id").focus();
                        }
                        else{
                            alert('이미 존재하는 아이디 입니다.');
                            $("#sign_up_button_id").prop("disabled", true);
                            $("#id_id").val('');
                            $("#id_id").focus();
                        }
                    },
                    error:function(error){
                        alert('ERROR: ', error);
                    }
                });
            });

            // 회원가입 버튼 눌렀을때
            $("#sign_up_button_id").click(function(){
                var id = $("#id_id").val().trim();
                var pw = $("#pw_id").val().trim();
                var pw_check = $("#pw_check_id").val().trim();
                var username = $("#username_id").val().trim();
                var birth = $("#birth_id").val().trim();
                var email = $("#email_id").val().trim();

                if(pw != pw_check){
                    alert('비밀번호 확인란에 동일한 비밀번호를 입력해주세요.');
                }
                else if(pw == pw_check && id != '' && pw != '' && username != '' && birth != '' && email != ''){
                    alert('회원가입 성공');
                    $("#frm").attr("method", "post");
                    $("#frm").attr("action", "/sign_up");
                    $("#frm").submit();
                }
                else{
                    alert('공란이 있습니다. 모든 정보를 입력해주세요.');
                }

            });


        });

    </script>

{% endblock %}

{% block content %}
    <div class="container">
        <form id="frm">
            <div class="form-group">
                <div class="page-header my-4">
                    <h2>회원가입</h2>
                </div>
            </div>


            <div class="form-group form-row">
                <label class="col-form-label col-md-2" for="id_id">아이디 : </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="id" id="id_id" placeholder="아이디를 입력해주세요.">
                </div>

                <div class="col-md-2">
                    <input type="button" class="btn btn-primary btn-block" id="overlap_check_id" value="중복검사">
                </div>
            </div>


            <div class="form-group form-row">
                <label class="col-form-label col-md-2" for="pw_id">비밀번호 : </label>
                <div class="col-md-5">
                    <input type="password" class="form-control" name="pw" id="pw_id" placeholder="비밀번호를 입력해주세요.">
                </div>
            </div>


            <div class="form-group form-row">
                <label class="col-form-label col-md-2" for="pw_check_id">비밀번호 확인 : </label>
                <div class="col-md-5">
                    <input type="password" class="form-control" name="pw_check" id="pw_check_id" placeholder="비밀번호를 다시 입력해주세요.">
                </div>
            </div>


            <div class="form-group form-row">
                <label class="col-form-label col-md-2" for="username_id">이름 : </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="username" id="username_id" placeholder="이름을 입력해주세요.">
                </div>
            </div>


            <div class="form-group form-row">
                <label class="col-form-label col-md-2">생년월일 : </label>
                <div class="col-md-5">
                    <input id="birth_id" class="form-control">
                </div>
            </div>


            <div class="form-group form-row">
                <label class="col-form-label col-md-2">성별 : </label>
                <div class="col-md-5">
                    <input type="radio" name="gender" value="남자" checked="checked">남자
                    <input type="radio" class="ml-4" name="gender" value="여자">여자
                    <input type="radio" class="ml-4" name="gender" value="그외">그외
                </div>
            </div>


            <div class="form-group form-row">
                <label class="col-form-label col-md-2" for="email_id">이메일 : </label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="email" id="email_id" placeholder="이메일을 입력해주세요.">
                </div>
            </div>


            <div class="form-group form-row mt-5">
                <div class="offset-md-2"></div>
                <div class="col-md-5">
                    <div class="row">
                        <label><span style="color:red">* 중복검사 성공시 버튼 활성화</span></label>
                        <input type="submit" class="btn btn-primary btn-block" id="sign_up_button_id" value="회원가입">
                    </div>
                </div>
            </div>


            <div class="form-group form-row mt-5">
                <div class="offset-md-2"></div>
                <div class="col-md-5">
                    <div class="row">
                    <input type="button" class="btn btn-danger btn-block" onclick="location.href='/login';" value="취소">
                        </div>
                </div>
            </div>


        </form>
    </div>
{% endblock %}